th b {color: red;}							
#message{ background-color: #0074a2 !important; color: #fff !important; display: none; font-size: 18px; font-weight: bold; min-height: 35px; padding-top: 12px; text-align: center; vertical-align: middle; }
.view{display:block !important;}
#result{display:inline-block;width:100%; float:left;}
#result table{margin: 0 auto; background-color:#EFE7E7; border:1px solid #ccc; padding-top:15px; font-family:Arial;}
#result table tbody { float: left; max-height: 500px; overflow-y: scroll; position: relative; }
#result table thead,#result table tbody, #result table tr{width:100%; text-align:left;}
#result table th, #result table td{padding:5px 5px 5px 25px; width:210px; float: left;}
#result table td.status {color: #008b00;}
#result table th{border-bottom:1px solid #ccc; text-align: left;}